# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OpenFOAM
lnInclude
linux64GccDPInt32Opt

debian/build
debian/debhelper-build-stamp
debian/files
debian/travis-cpp.debhelper.log
debian/travis-cpp.substvars
debian/travis-cpp

